body {
  color: #262626;
  font-family: Helvetica Neue;
  margin: 0;
  text-align: center;
}

body > div:first-child {
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  font-weight: normal;
  margin: 1em 0 0.8em;
}

h1, h1 > a {
  color: #57B625;
}

h2 {
  font-size: 27px;
  font-weight: normal;
}

p {
  font-size: 15px;
  margin-top: 60px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-bottom: 3em;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 86px;
  }

  h2 {
    font-size: 42px;
  }

  p {
    font-size: 24px;
  }
}

@media only screen and (min-height: 600px) {
  p {
    margin-top: 160px;
  }
}
