body {
  color: #262626;
  font-family: Helvetica Neue, sans-serif;
  margin-block: 0;
  margin-inline: auto;
  max-width: 33.75rem;
  min-width: 18.125rem;
  padding: 0 20px;
}

h1#logo {
  color: #57B625;
  font-weight: normal;
}

h1, footer {
  text-align: center;
}

li, p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

footer {
  margin-block: 2.4rem;
}
